gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Android signing files are kept in ../courier-android-keystores/native_android
keystore
keystore.properties
key.properties
**/*.keystore
**/*.jks
