gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Example signing uses committed courier-android-keystores/native_android files
# (example/android/keystore.properties + keystore). Still ignore stray binaries:
key.properties
**/*.keystore
**/*.jks
