<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>98931983397-oc2rntk0nad0gvhghr924f2hbgd3nd5h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98931983397-oc2rntk0nad0gvhghr924f2hbgd3nd5h</string>
	<key>API_KEY</key>
	<string>AIzaSyAWnYV_4reQ_nSvr_q1P5WwBoJajVj8bFk</string>
	<key>GCM_SENDER_ID</key>
	<string>98931983397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.courier.courierFlutterExample</string>
	<key>PROJECT_ID</key>
	<string>courier-testing-61c0b</string>
	<key>STORAGE_BUCKET</key>
	<string>courier-testing-61c0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98931983397:ios:bddf76ba344327bda4abcc</string>
</dict>
</plist>